body {
  font-size: 18px;
  font-family: Helvetica;
}

header {
  width: 100%;
  background-color: black;
}

.top-bar {
  display: flex;
  align-items: center;
  width: 960px;
}
.top-bar span {
  font-size: 1rem;
  color: white;
  text-transform: uppercase;
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
}

.top-bar img {
  height: 1.5rem;
  padding: 0.66rem 1.5rem 0.66rem 0.5rem;
}

.banner {
  background-image: url(../images/moto.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 25rem;
}

.new-arrivals {
  position: relative;
  width: 20rem;
  top: 7rem;
  padding: 3rem 3rem;
  background-color: black;
  color: white;
}

.banner h2 {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}

.banner h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0.25rem 0;
  line-height: 1.2;
  text-transform: uppercase;
}

@media only screen and (max-width: 470px) {
  .top-bar span {
    display: none;
  }
  .top-bar {
    width: 100%;
    justify-content: center;
  }
  .banner {
    height: 15rem;
  }

  .new-arrivals {
    width: 100%;
    padding: 1rem 2rem;
    top: 10rem;
  }

  .banner h4 {
    font-size: .77rem;
  }

  .banner h1 {
    font-size: 1rem;
  }
}

nav {
  background-color: firebrick;
  color: white;
}

.mobile-nav {
  display: none;
}

@media only screen and (max-width: 1024px) {
  nav .large {
    display: none;
  }
  nav .mobile-nav {
    display: block;
    text-align: center;
  }
}

.large {
  display: flex;
  justify-content: center;
}

.large li, .mobile-nav {
  padding: 0.75rem 2rem;
}

/* Products */

.container {
  max-width: 960px;
  margin: 0 auto;
}

.products,
.business-info {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.product {
  width: 30%;
}

@media only screen and (max-width: 1024px) {
  #product3 {
    display: none;
  }
  .product {
    width: 47%;
  }
}

.product-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9rem;
  padding: 2rem 0;
  border: 4px solid black;
}

.product-image img {
  max-width: 8rem;
}

.description {
  display: block;
  padding: 0.5rem;
  background-color: black;
  text-align: center;
  color: white;
}

.info {
  width: 35%;
}

.title {
  display: block;
  background-color: black;
  color: white;
  padding: 1rem 2rem;
  margin-bottom: 0.5rem;
}

@media only screen and (max-width: 470px) {
  .products,
  .business-info {
    display: block;
  }
  #product3 {
    display: block;
  }
  .product {
    width: 90%;
    margin: 1rem auto;
  }
  .info {
    width: 90%;
    margin: 0.5rem auto;
  }
}

footer {
  background-color: black;
  margin-top: 4rem;
  padding: 5rem 0;
}

footer span {
  color: white;
}

@media only screen and (max-width: 470px) {

  footer {
    text-align: center;
  }
}
